#footer
  background: color-footer-background
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  
.footer-text1
  font-family: footer-text
  font-size: 25px
  float: right
  margin: -90px 100px
  @media mq-mobile
    margin: 10px 50px
	
.footer-text2
  font-family: footer-text
  font-size: 25px
  float: right
  margin: -60px 60px
  @media mq-mobile
    margin: 0px 50px

  
